<!DOCTYPE html>
<html>
	<head>
		<title>Hi!</title>
	</head>
	<body>
		<a href="../navigator/{{.Id}}">{{.Name}}</a>
		<form action="./{{.Id}}" method="post">
			<fieldset>
				<legend>Node {{.Id}} Attributes</legend>
				<ul>
					{{ range $key, $attr := .Attrs }}<li>
					<label for="{{ $key }}">{{ $attr.Name }}</label>
					<input id="{{ $key }}" name="{{ $key }}" type="text" value="{{ $attr.Value }}" />
					</li>{{end}}
				</ul>
				<input name="btnSave" type="submit" value="Save" />
			</fieldset>
		</form>
	</body>
</html>
